/* CSS */

/* animation css */

* {
    margin: 0;
    scroll-behavior: smooth;
}

.hero {
    animation : landing 1.5s forwards;
}

@keyframes landing {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}

div.kosong2 {
    position: absolute;
    height: 500px;
    width: 100%;
    background: linear-gradient(0deg , rgba(254,242,242,0), rgba(254,242,242,1)); 
}

div.kosong3 {
    position: absolute;
    left: 0;
    margin-top: -40px;
    height:  200px;
    width: 100%;
    background: linear-gradient(0deg , rgba(254,242,242,0), rgba(254,242,242,1)); 
}

img.wedding {
    filter: contrast(80%);
    filter: brightness(80%);
  }

/* .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr,));
    grid-gap: 15px;
} */

.bi {
    fill: #475569;
}
.bi.putih {
    fill: #F87171;
}

.nav {
    box-shadow: 1px -2px 27px -11px rgba(0,0,0,0.30);
    -webkit-box-shadow: 1px -2px 27px -11px rgba(0,0,0,0.30);
    -moz-box-shadow: 1px -2px 27px -11px rgba(0,0,0,0.30);
}

.nav-title {
    fill: #475569;
}
.nav-title.putih {
    fill: #F87171;
}

.flower {
    transform: scale(0);
    transition: .5s;
    opacity: 0;
}
.flower.muncul {
    transform: scale(1);
    opacity: 1;
}

.flower2 {
    transform: scale(0);
    transition: .5s;
    opacity: 0;
}
.flower2.muncul {
    transform: scale(1);
    opacity: 1;
}

.flower3 {
    transform: scale(0);
    transition: .5s;
    opacity: 0;
}
.flower3.muncul {
    transform: scale(1);
    opacity: 1;
}

.flower4 {
    transform: scale(0);
    transition: .5s;
    opacity: 0;
}
.flower4.muncul {
    transform: scale(1);
    opacity: 1;
}

.flower5 {
    transform: scale(0);
    transition: .5s;
    opacity: 0;
}
.flower5.muncul {
    transform: scale(1);
    opacity: 1;
}

.title {
    transform: scale(1,0);
    transition: .5s;
}
.title.muncul {
    transform: scale(1);
}

.title2 {
    transform: scale(1,0);
    transition: .5s;
}
.title2.muncul {
    transform: scale(1);
}

.title3 {
    transform: scale(1,0);
    transition: .5s;
}
.title3.muncul {
    transform: scale(1);
}

.title4 {
    transform: scale(1,0);
    transition: .5s;
}
.title4.muncul {
    transform: scale(1);
}

.title5 {
    transform: scale(1,0);
    transition: .5s;
}
.title5.muncul {
    transform: scale(1);
}

.opening {
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
}
.opening.muncul {
    opacity: 1;
    transform: translateY(0);
}

.profiles {
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}
.profiles.muncul {
    opacity: 1;
    transform: translateY(0);
}

.profile-1 {
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}
.profile-1.muncul {
    opacity: 1;
    transform: translateY(0);
}

.profile-2 {
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}
.profile-2.muncul {
    opacity: 1;
    transform: translateY(0);
}

.dan {
    transform: translateY(100px);
    opacity: 0;
    transition: 2s;
}
.dan.muncul {
    opacity: 1;
    transform: translateY(0);
}

.dan2 {
    transform: translateY(100px);
    opacity: 0;
    transition: 2s;
}
.dan2.muncul {
    opacity: 1;
    transform: translateY(0);
}

.card1 {
    /* box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.46); */
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
}
.card1.muncul {
    opacity: 85%;
    transform: translateY(0);
}

.card2 {
    /* box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.46); */
    transform: translateY(100px);
    opacity: 0;
    transition: .9s;
}
.card2.muncul {
    opacity: 85%;
    transform: translateY(0);
}

.gallery img {
    transition: 0.3s ease-in-out;
}

.gallery img:hover {
    filter: brightness(130%);
}

#img1 {
    transform: scale(0);
    transition: .7s;
    opacity: 0;
}
#img1.muncul {
    transform: scale(1);
    opacity: 3;
}

#img2 {
    transform: scale(0);
    transition: 1s;
    opacity: 0;
}
#img2.muncul {
    transform: scale(1);
    opacity: 1;
}

#img3 {
    transform: scale(0);
    transition: 1.3s;
    opacity: 0;
}
#img3.muncul {
    transform: scale(1);
    opacity: 1;
}

#img4 {
    transform: scale(0);
    transition: .7s;
    opacity: 0;
}
#img4.muncul {
    transform: scale(1);
    opacity: 3;
}

#img5 {
    transform: scale(0);
    transition: 1s;
    opacity: 0;
}
#img5.muncul {
    transform: scale(1);
    opacity: 1;
}

#img6 {
    transform: scale(0);
    transition: 1.3s;
    opacity: 0;
}
#img6.muncul {
    transform: scale(1);
    opacity: 1;
}

.circle1 {
    transform: translateX(-100px);
    opacity: 0;
    transition: .5s;
}
.circle1.muncul {
    transform: translateX(0);
    opacity: 1;
}

.circle2 {
    transform: translateX(-100px);
    opacity: 0;
    transition: 1s;
}
.circle2.muncul {
    transform: translateX(0);
    opacity: 1;
}

.circle3 {
    transform: translateX(-100px);
    opacity: 0;
    transition: 2s;
}
.circle3.muncul {
    transform: translateX(0);
    opacity: 1;
}

.circle4 {
    transform: translateX(-190px);
    opacity: 0;
    transition: 2.4s;
}
.circle4.muncul {
    transform: translateX(0);
    opacity: 1;
}

.btn-map {
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
}
.btn-map.muncul {
    opacity: 1;
    transform: translateY(0);
}

ul li a {
    width: 120px;
    height: 70px;
    padding: 10px;
    transition: .5s;
}

ul li a.active{
    background-color: salmon;
}

@media screen and (max-width: 639px) {
    ul li a.active{
        background-color: salmon;
    }
    ul li a {
        width: 55px;
        height: 70px;
    }
    ul li a svg{
    }
}

ul li a.active span {
    color: #fff;
}
ul li a.active svg {
    fill: #fff;
}


/* End Animation CSS */

/* AUDIO */
.audio-player {
    --player-button-width: 3em;
    --sound-button-width: 2em;
    --space: .5em;
    width: 15rem;
    height: 3rem;
  }
  
  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin-top: 10px;
  }
  
  .player-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 40px;
    margin-right: 5px;
  }

  /* AUDIO END */

/* RESPONSIVE */

@media screen and (max-width: 340px) {

    li a svg {
        width: 17px;
        height: 17px;
    }
    .bi-house-heart-fill {
        width: 20px;
        height: 20px;
    }

    li a span {
        margin-left: -1005px;
        visibility: hidden;
        position:absolute;
    }
  }

@media screen and (max-width: 639px) {

    /* h2.title-hero {
        margin-top: -150px;
    } */

    li {
        margin-left: 25px;
    }

    li a span {
        margin-left: -1005px;
        visibility: hidden;
        position:absolute;
    }
  }

.acara {
    display: flex;
}

@media screen and (max-width: 855px) {
    .acara {
        display: grid;
    }
    .card2 {
        margin-top: 20px;
    }
}

.card1 {
    width: 400px;
}
.card2 {
    width: 400px;
}

@media screen and (max-width: 418px) {
    .card1 {
        width: 300px;
        height: 230px;
    }
    .card2 {
        width: 300px;
        height: 230px;
    }
}

@media screen and (max-width: 315px) {
    .card1 {
        width: 245px;
        height: 230px;
    }
    .card2 {
        width: 245px;
        height: 230px;
    }
}

@media screen and (max-width: 250px) {
    .card1 {
        width: 230px;
        height: 230px;
    }
    .card2 {
        width: 230px;
        height: 230px;
    }
}

@media screen and (max-width: 375px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 15px;
    }
}

@media screen and (max-height: 850px) {
    section#event {
        height: 100%;
    }
}

@media screen and (max-height: 815px) {
    section#event {
        height: 100%;
    }
}

@media screen and (max-height: 815px) {
    section#event {
        height: 100%;
    }
}

@media screen and (max-height: 670px) {
    section#event {
        height: 100%;
    }
    #letter {
        padding-bottom: 30%;
    }
}

@media screen and (max-height: 670px) {
    section#event {
        height: 100%;
    }
}

@media screen and (max-height: 555px) {
    section#event {
        height: 100%;
    }
}

@media screen and (max-height: 445px) {
    .surah {
        height: 100%;
    }
}

/* wave animate */

.waves1 {
    position: relative;
    width: 100%;
    height: 15vh;
    bottom: 0;
    min-height: 100px;
    max-height: 100px;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -50px;
    min-height: 100px;
    max-height: 100px;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
            animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 13s;
            animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@media (max-width : 768px) {
    h1 {
        font-size: 24px;
    }
    .content {
        height: 30vh;
    }
    .waves {
        height: 40px;
        min-height: 40px;
    }
}